<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/letter-A.css">
    <title>A-harfi</title>
</head>
<body>
    <div class="letter-fon">
        <a href="../letters.html">
            <img class="exit-icon" src="../assets/media/exit.svg" alt="">
        </a>
        <img id="play-image" class="speaker-icon" src="../assets/media/openmoji_speaker-medium-volume.svg" alt="">
        <audio id="my-audio" src="../assets/media/games-audios/kids-music-sound.mp3"></audio>
        <img class="letter-A" src="../assets/media/letters/letter-B.svg" alt="">
        <p>Baliq</p>
        <img class="pictureforletter" src="../assets/media/letters/tree-image.svg" alt="">
        <img class="back-icon" src="../assets/media/back-icon.png" alt="">
        <img class="forward-icon" src="../assets/media/forward-icon.png" alt="">
    </div>

    <script src="../js/letter-A.js"></script>
    
</body>
</html>