<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/home.css">
    <title>Asosiy oyna</title>
</head>
<body>
    <!--SITE HEADER-->
    <header class="site-header">
        <div class="container site-header-container">
            <!--Profil fotosi-->
            <!-- <div class="left-icon">
                <img src="./assets/media/left-icon.svg" alt="">
            </div> -->
            <a href="./index.html">
                <!-- <img id="home-avatar" src="./assets/media/mainavatar-icon.svg" alt="" width="70px"> -->
                <img id="profile-photo" src="default.png" alt="Profil rasmi" width="100px">
            </a>

            <a href="./index.html">
                <img src="./assets/media/bell-icon.svg" alt="">
            </a>
            
        </div>
    </header>

    <div class="container cards">
        <div class="card">
            <img src="./assets/media/letters-icon.svg" alt="" onclick="location.href='letters.html'">
        </div>
        <div class="card card-words">
            <img src="./assets/media/words-icon.svg" alt="" onclick="location.href='first-game.html'">
        </div>
        <div class="card">
            <img src="./assets/media/sentences-icon.svg" alt="" onclick="location.href='second-game.html'">
        </div>
    </div>

    <!-- Navigatsiya -->
    <div class="container bottom-nav">
        <button onclick="location.href='home.html'">
            <img src="./assets/media/home-icon.svg" alt="" width="70px">
            <p>Asosiy</p>
        </button>
        <button onclick="location.href='liderbord.html'">
            <img src="./assets/media/liderboard-icon.svg" alt="" width="70px">
            <p>Liderboard</p>
        </button>
        <button onclick="location.href='profile.html'">
            <img src="./assets/media/profile-icon.svg" alt="" width="70px">
            <p>Profil</p>
        </button>
    </div>

    <script src="./js/home.js"></script>
</body>
</html>