{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Bilimdon</title>
</head>
<body>
    <!--SITE HEADER-->
    <header class="site-header">
        <div class="container site-header-container">
            <!--Bilimdon Logosi-->
            <a href="{% url 'index' %}">
                <img src="{% static 'assets/media/bilimdon-logo.svg' %}" alt="">
            </a>
            <button class="site-header-btn">O'zbek</button>
        </div>
    </header>

    <!--Hero-->
    <section class="hero">
        <div class="container hero-container">
            <img src="{% static 'assets/media/hero-img.png' %}" alt="" width="550px" height="330px">
            <div class="hero-content">
                <div class="hero-content-text">
                    <p>
                        <strong>Alifboni bepul,
                        <span class="highlight">qiziqarli</span><br>
                        va <span class="highlight">samarali</span> o'rganing!</strong>
                    </p>                    
                                          
                </div>                
                <a href="{% url 'start' %}">    
                    <button id="startBtn" class="hero-start-btn">Boshlash</button>
                </a>
                <a href="{% url 'registration' %}">
                    <button id="registerBtn" class="hero-register-btn">                        
                        Ro'yhatdan o'tish
                    </button>
                </a>
            </div>
        </div>
    </section>
   
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>





















