<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/letters.css">
    <title>Harflarni o‘rganish</title>
</head>
<body>
    <!--SITE HEADER-->
    <header class="site-header">
        <div class="container site-header-container">
            <a href="./home.html" class="left-icon">
                <img src="./assets/media/left-icon.svg" alt="">
            </a>
            <h2>Harflar</h2>
            <!--Bilimdon Logosi-->
            <a href="./index.html">
                <img src="./assets/media/bilimdon-logo.svg" alt="" width="200px">
            </a>
            
        </div>
    </header>

    <div class="container letters-tab">
        <div class="letters-row letters-first-row">
            <a href="./letters-html/letter-A.html">
                <img src="./assets/media/letters/letter-A.svg" alt="">
            </a>
            <a href="./letters-html/letter-B.html">
                <img src="./assets/media/letters/letter-B.svg" alt="" width="115px">
            </a>
            <a href="./letters-html/letter-D.html">
                <img src="./assets/media/letters/letter-D.svg" alt="">
            </a>
            <img src="./assets/media/letters/letter-E.png" alt="">
            <img src="./assets/media/letters/letter-F.png" alt="">
            <img src="./assets/media/letters/letter-G.png" alt="">
            <img src="./assets/media/letters/letter-H.png" alt="">
            <img src="./assets/media/letters/letter-I.png" alt="">
            <img src="./assets/media/letters/letter-J.png" alt="">
            
            
           
        </div>

        <div class="letters-row letters-second-row">  
            <img src="./assets/media/letters/letter-K.png" alt="">
            <img src="./assets/media/letters/letter-L.png" alt="">
            <img src="./assets/media/letters/letter-M.png" alt="">
            <img src="./assets/media/letters/letter-N.png" alt="">
            <img src="./assets/media/letters/letter-O.png" alt="">
            <img src="./assets/media/letters/letter-P.png" alt="">
            <img src="./assets/media/letters/letter-Q.png" alt="">
            <img src="./assets/media/letters/letter-R.png" alt="">                
                        
        </div>

        <div class="letters-row letters-third-row">
            <img src="./assets/media/letters/letter-S.png" alt="">
            <img src="./assets/media/letters/letter-T.png" alt="">
            <img src="./assets/media/letters/letter-U.png" alt="">
            <img src="./assets/media/letters/letter-V.png" alt="">   
            <img src="./assets/media/letters/letter-X.png" alt="">
            <img src="./assets/media/letters/letter-Y.png" alt="">
            <img src="./assets/media/letters/letter-Z.png" alt="">
            <img src="./assets/media/letters/letter-O‘.png" alt="">
            <img src="./assets/media/letters/letter-G‘.png" alt="">
                 
                 
        </div>

        <div class="letters-row letters-forth-row">
            <img src="./assets/media/letters/letter-SH.png" alt="" width="120px" height="130px">
            <img src="./assets/media/letters/letter-Ch.png" alt="" width="120px" height="130px">
            <img src="./assets/media/letters/letter-ng.png" alt="" width="120px" height="130px">
            <img src="./assets/media/letters/tutuq-belgisi.png" alt="" width="30px" height="40px">  

            <div class="letters-back-forward">
                <img src="./assets/media/back-icon.png" alt="" width="200px" height="80px">
                <img src="./assets/media/koala.png" alt="">
                <img src="./assets/media/forward-icon.png" alt="" width="200px" height="80px">
            </div>
            
        </div>
        
    </div>
    
</body>
</html>