{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/registration.css' %}">
    <title>Boshlash</title>
</head>
<body>
     <!--SITE HEADER-->
     <!--Bilimdon Logosi-->
     <div class="container">
        <a href="{% url 'index' %}">
        <img src="{% static 'assets/media/bilimdon-logo.svg' %}" alt="">
        </a>
     </div>
         
    <div class="container">
        <!--Form-image-->
        <div class="form-img">
            <img src="{% static 'assets/media/bear.svg' %}" alt="" width="450px">
        </div>

        <!--Form-->
        <div class="form-container">
            <label for="">Telefon raqam</label>
            <input type="tel" name="" id="phone" placeholder="+998 xxx xx xx">

            <label for="">Parol</label>
            <input type="password" name="" id="password" placeholder="Kamida 8 ta harf, raqam va bitta katta harf">

            <button id="startBtn" class="registration-btn" onclick="submitForm()">Boshlash</button>
        </div>
        
    </div>
    
    <script src="{% static 'js/start.js' %}"></script>
</body>
</html>